{% extends 'base.html' %}


{% block body %}
<h3>Article Form</h3>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<button> Save </button>
	


</form>
{% endblock %}