{% extends 'base.html' %}


{% block body %}
<h3>All Articles</h3>

	<table class='table table-bordered table-striped'>
		<thead>
			<tr>
				<th>SN</th>
				<th>Title</th>
				<th>Date</th>
				<th>Author</th>
				<th>Image</th>
				<th>Content</th>
			</tr>
		</thead>
		<tbody>
			{% for article in allarticle %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td><a href="/article/{{article.id}}/detail/">{{article.title}}</a></td>
				<td>{{article.date}}</td>
				<td>{{article.author}}</td>
				<td><img src="{{article.image.url}}" width="100"></td>
				<td>{{article.content|truncatewords:'10'}}</td>



			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
