{% extends 'base.html' %}


{% block body %}
<h3>{{articleobject.title}}(Viewed {{articleobject.view_count}} times)</h3>
<p>{{articleobject.content}}</p>
<img src="{{articleobject.image.url}}" width="500">
<p>Author:{{articleobject.author}}</p>
<p>Date:{{articleobject.date}}</p>
<h4> comment on this post </h4>

{% for comment in articleobject.comment_set.all|dictsortreversed:'id' %}
<li> {{comment.commentor}} says {{comment.comment}} {{comment.date|timesince}} ago </li>
{% endfor %}

<!-- <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-width="" data-numposts="5"></div>
 -->
{% endblock %}