<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
	<a href="/">Home</a>
	<a href="/contact/">Contact</a>
	<a href="/article/list/">All Articles</a>
	<a href="/article/create/">Add New Article</a>
	<a href="/protected/">Protected</a>
	<a href="/restricted/">Restricted</a>


	{% if request.user.is_authenticated %}
	     logged in as:<span style='color:blue'>{{ request.user}} </span>
		<a href="/logout/">Logout</a>
     {% else %} 
		<a href="/register/">Registration Form</a>
		<a href="/login/">Login</a>
     {% endif %}

 	<form method="GET" action="{% url 'uasapp:search' %}">
 		<input type="text" name="keyword" placeholder="Search here..." value="{{request.GET.keyword}}">
 		<button> Search </button>
 	</form>

	{% block body %}

	{% endblock %}

	<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5d34415f6d80831228394113/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>