{% extends 'base.html' %}

{% block body %}
<p style="color: red;">{{error}}</p>
<h3> Login Form </h3>
<form method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<button> login </button>
	


</form>

{% endblock %}