{% extends 'base.html' %}


{% block body %}
<h5>Search Results for <span class="text-info">{{request.GET.keyword}}</span></h5>
{% for article in search_results %}
<li><a href="{% url 'uasapp:articledetail' article.pk %}">{{article.title}}</a></li>
<img src="{{article.image.url}}" width="200">
 
{% endfor %}

{% endblock %}